accelerator-toolbox==0.7.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
bact-device-models==0.1.0
-e git+https://github.com/hz-b/bact-twin-architecture/@48d253fa928b952278481a59ea66c65bc4831545#egg=bact_twin_architecture
certifi==2026.1.4
click==8.3.1
dnspython==2.8.0
-e git+https://github.com/hz-b/dt4acc@35e399193005b1e8c299470b30326ac4a986bbe6#egg=dt4acc
fastapi==0.128.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
jsons==1.6.3
lark==1.3.1
lat2db==0.1.0
numpy==1.26.4
packaging==26.0
pandas==3.0.0
pluggy==1.6.0
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pymongo==4.16.0
pytango==10.0.3
pytest==9.0.2
python-dateutil==2.9.0.post0
scipy==1.17.0
six==1.17.0
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
typish==1.9.3
uuid==1.30
uvicorn==0.40.0
